<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/self.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap-theme.css') }}"/>
</head>

<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href={{ url_for('index') }}>出版物检索推荐系统</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('index') }}"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                <li><a href="{{ url_for('index') }}"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container col-md-offset-4 ">
    <form class="navbar-form navbar-left" role="search"
          id="search_form" action="{{ url_for('search') }}" method="post">
        <div class="bg-info text-center">
            <div class="radio-inline">
                <label class="">
                    <input type="radio" name="optionsRadios" id="optionsRadios1"
                           value="option1" checked> Book
                </label>
            </div>
            <div class="radio-inline">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios2"
                           value="option2"> Movie
                </label>
            </div>
            <div class="radio-inline">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios3"
                           value="option3"> Game
                </label>
            </div>
        </div>
        <div class="form-group form-inline">
            <input type="text" class="form-control input-group-lg" id="input" name="input" placeholder="search">
        </div>
        <button type="submit" class="btn btn-success" form="search_form">提交</button>
    </form>
</div>
<div class="container-fluid">
    {% block body %} {% endblock %}
</div>


<!-footer-->
<footer class="container-fluid foot-wrap text-center">
    <p>@Copyright 2018 </p>
</footer>


<script src="{{ url_for('static',filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.js') }}"></script>

</body>
</html>