{% extends 'layout.html' %}
{% block title %}检索{% endblock %}
{% block body %}
    <div class="container">
        <form class="navbar-form navbar-left" role="search"
              id="search_form" action="{{ url_for('search')}}" method="post">
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1"
                               value="option1" checked> Book
                    </label>
                </div>
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2"
                               value="option2"> Movie
                    </label>
                </div>
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios3"
                               value="option3"> Game
                    </label>
                </div>
            <div class="form-group form-inline">
                <input type="text" class="form-control" id="input" name="input" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-success" form="search_form">提交</button>
        </form>
    </div>
    <div class="container-fluid">

    </div>
{% endblock %}